In [1]:
import pickle
import nltk
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

nltk.download("popular")
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\Naveen\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

In [2]:
# Load tokenized news data

with open('AaplLabelledNewsData-OrderPreserved.pkl', 'rb') as f:
    labelled_aapl_news_df = pickle.load(f)
    
with open('AmznLabelledNewsData-OrderPreserved.pkl', 'rb') as f:
    labelled_amzn_news_df = pickle.load(f)

In [3]:
#visualize data
labelled_aapl_news_df.head()

,news_timestamp,stock_timestamp,source,tokens,label
0,2017-12-07 20:00:00,2017-12-08,businesswire.com,"[nape, summit, also, annual, luncheon, tom, sp...",-1
1,2017-12-08 21:37:00,2017-12-11,yahoo.com,"[huge, x, comeback, tour, follow, note, big, y...",1
2,2017-12-12 01:55:00,2017-12-13,yahoo.com,"[browser, os, ad, server, make, first, move, c...",1
3,2017-12-12 22:10:00,2017-12-13,investingnews.com,"[humanitarian, place, conflict, free, region]",1
4,2017-12-14 11:42:00,2017-12-15,seekingalpha.com,"[prefer, invest]",1

In [4]:
labelled_amzn_news_df.head()

,news_timestamp,stock_timestamp,source,tokens,label
0,2017-12-15 12:04:00,2017-12-18,seekingalpha.com,"[amazon, soon, sell, pull, e, platform, two, y...",1
1,2017-12-21 12:04:00,2017-12-22,seekingalpha.com,"[line, cashier, similar, fashion, futurist, am...",-1
2,2017-12-21 12:27:00,2017-12-22,thestreet.com,"[fit, fang, stock, amazon, alphabet, drug, int...",-1
3,2017-12-22 00:00:00,2017-12-26,investors.com,"[amazon, cloud, china]",1
4,2017-12-22 20:57:00,2017-12-26,yahoo.com,"[stream, stick, plus, offer, play, amazon, con...",1

In [5]:
columns = ['merged_tokens']
corpus_aapl = []
corpus_amzn = []

#can try to vectorize this
for index, row in labelled_aapl_news_df.iterrows():
    corpus_aapl.append(' '.join(row['tokens']))
    if index % 10000 == 0:
        print("Completed %d rows for apple" % index)
    
for index, row in labelled_amzn_news_df.iterrows():
    corpus_amzn.append(' '.join(row['tokens']))
    if index % 5000 == 0:
        print("Completed %d rows for amazon" % index)

Completed 0 rows for apple
Completed 10000 rows for apple
Completed 20000 rows for apple
Completed 30000 rows for apple
Completed 40000 rows for apple
Completed 50000 rows for apple
Completed 60000 rows for apple
Completed 70000 rows for apple
Completed 0 rows for amazon
Completed 5000 rows for amazon
Completed 10000 rows for amazon
Completed 15000 rows for amazon

In [6]:
#print sample items to ensure update
corpus_aapl[:5]

['nape summit also annual luncheon tom speaker new job fair upstream profession seminar present organ seg intern theater run two day prospect preview near exhibit space',
 'huge x comeback tour follow note big year best phone money one buy premium start cool per month depend plan put reach mani spot face id facial fantast dual len camera help make kind need time analyst question sure loss home button disappear could full screen handset turn user slick touch control even tire go high power second plus lover impress display got great two mean much fan',
 'browser os ad server make first move competitor like follow lead context ecosystem rife fraud publish ought much kind low rent unit reader rob hacker might target plan kill net neutral affect still use x face id even though say beat big media serf land tech giant sold buy twitter',
 'humanitarian place conflict free region',
 'prefer invest']

In [7]:
corpus_amzn[:5]

['amazon soon sell pull e platform two year ago support prime video',
 'line cashier similar fashion futurist amazon go store year ago yet open public',
 'fit fang stock amazon alphabet drug intern',
 'amazon cloud china',
 'stream stick plus offer play amazon content get access prime video fire interact expect exist go latest iter cut diamond shape port also come assist built current usual price product look like soon away said pull jan stop playground control smart home final bring box might hope ultra spec show thank back forth cast bummer']

In [10]:
aapl_one_gram_vectorizer = CountVectorizer(max_df=0.9, min_df=0.01, stop_words=stop_words, ngram_range=(1,1))
aapl_one_gram_features = aapl_one_gram_vectorizer.fit_transform(corpus_aapl)

#printing first 30 feature words for visualization
print(aapl_one_gram_vectorizer.get_feature_names()[:30])

labelled_aapl_news_df = labelled_aapl_news_df.rename(columns={'tokens': 'features'})

aapl_one_gram_features_array = aapl_one_gram_features.toarray()
print("Aapl one-gram feature vector size: %d X %d" % (len(aapl_one_gram_features_array), len(aapl_one_gram_features_array[0])))

for i in range(len(aapl_one_gram_features_array)):
    labelled_aapl_news_df.at[i,'features'] = aapl_one_gram_features_array[i]

['access', 'accord', 'account', 'across', 'action', 'actual', 'ad', 'add', 'address', 'adjust', 'advisor', 'affect', 'afford', 'afternoon', 'aggress', 'ago', 'ahead', 'air', 'alert', 'allow', 'almost', 'along', 'alphabet', 'also', 'although', 'alway', 'amazon', 'america', 'american', 'amid']
Aapl one-gram feature vector size: 71941 X 703

In [11]:
#print sample frames
labelled_aapl_news_df.head()

,news_timestamp,stock_timestamp,source,features,label
0,2017-12-07 20:00:00,2017-12-08,businesswire.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
1,2017-12-08 21:37:00,2017-12-11,yahoo.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
2,2017-12-12 01:55:00,2017-12-13,yahoo.com,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",1
3,2017-12-12 22:10:00,2017-12-13,investingnews.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
4,2017-12-14 11:42:00,2017-12-15,seekingalpha.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1

In [12]:
amzn_one_gram_vectorizer = CountVectorizer(max_df=0.9, min_df=0.01, stop_words=stop_words, ngram_range=(1,1))
amzn_one_gram_features = amzn_one_gram_vectorizer.fit_transform(corpus_amzn)

#printing first 30 feature words for visualization
print(amzn_one_gram_vectorizer.get_feature_names()[:30])

labelled_amzn_news_df = labelled_amzn_news_df.rename(columns={'tokens': 'features'})

amzn_one_gram_features_array = amzn_one_gram_features.toarray()
print("Amzn one-gram feature vector size: %d X %d" % (len(amzn_one_gram_features_array), len(amzn_one_gram_features_array[0])))

for i in range(len(amzn_one_gram_features_array)):
    labelled_amzn_news_df.at[i,'features'] = amzn_one_gram_features_array[i]

['access', 'accord', 'account', 'acronym', 'across', 'act', 'action', 'actual', 'ad', 'add', 'adjust', 'advisor', 'ago', 'ahead', 'ai', 'aim', 'alert', 'allow', 'almost', 'along', 'alphabet', 'also', 'although', 'america', 'american', 'amid', 'among', 'analyst', 'annual', 'appear']
Amzn one-gram feature vector size: 19916 X 576

In [13]:
#print sample frames
labelled_amzn_news_df.head()

,news_timestamp,stock_timestamp,source,features,label
0,2017-12-15 12:04:00,2017-12-18,seekingalpha.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",1
1,2017-12-21 12:04:00,2017-12-22,seekingalpha.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...",-1
2,2017-12-21 12:27:00,2017-12-22,thestreet.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
3,2017-12-22 00:00:00,2017-12-26,investors.com,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
4,2017-12-22 20:57:00,2017-12-26,yahoo.com,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1

In [14]:
# Save one-gram features labelled data

with open('aapl_one_gram_features_labelled_df.pkl', 'wb') as f:
    pickle.dump(labelled_aapl_news_df, f)
with open('amzn_one_gram_features_labelled_df.pkl', 'wb') as f:
    pickle.dump(labelled_amzn_news_df, f)

In [15]:
#extracting two-gram features now

aapl_two_gram_vectorizer = CountVectorizer(max_df=0.9, min_df=0.001, stop_words=stop_words, ngram_range=(2,2))
aapl_two_gram_features = aapl_two_gram_vectorizer.fit_transform(corpus_aapl)

#printing first 30 feature words for visualization
print(aapl_two_gram_vectorizer.get_feature_names()[:30])

aapl_two_gram_features_array = aapl_two_gram_features.toarray()
print("Aapl two-gram feature vector size: %d X %d" % (len(aapl_two_gram_features_array), len(aapl_two_gram_features_array[0])))

for i in range(len(aapl_two_gram_features_array)):
    labelled_aapl_news_df.at[i,'features'] = aapl_two_gram_features_array[i]

['aa aal', 'aal ab', 'ab abb', 'abb acor', 'absurd cheap', 'access design', 'access digit', 'accord analyst', 'accord data', 'accord earn', 'accord file', 'accord firm', 'accord given', 'accord maintain', 'accord market', 'accord new', 'accord recent', 'accord report', 'accord research', 'accord stock', 'accord street', 'account boost', 'account grew', 'account hold', 'account invest', 'account lift', 'account make', 'account near', 'account portfolio', 'account rais']
Aapl two-gram feature vector size: 71941 X 3831

In [16]:
# Save two-gram features labelled data for Apple

with open('aapl_two_gram_features_labelled_df.pkl', 'wb') as f:
    pickle.dump(labelled_aapl_news_df, f)

In [17]:
amzn_two_gram_vectorizer = CountVectorizer(max_df=0.9, min_df=0.001, stop_words=stop_words, ngram_range=(2,2))
amzn_two_gram_features = amzn_two_gram_vectorizer.fit_transform(corpus_amzn)

#printing first 30 feature words for visualization
print(amzn_two_gram_vectorizer.get_feature_names()[:30])

amzn_two_gram_features_array = amzn_two_gram_features.toarray()
print("Amzn two-gram feature vector size: %d X %d" % (len(amzn_two_gram_features_array), len(amzn_two_gram_features_array[0])))

for i in range(len(amzn_two_gram_features_array)):
    labelled_amzn_news_df.at[i,'features'] = amzn_two_gram_features_array[i]

['aa aal', 'aal ab', 'ab abb', 'abb acor', 'access person', 'access premium', 'accord data', 'accord file', 'accord maintain', 'accord new', 'accord recent', 'accord report', 'accord research', 'accord street', 'account near', 'account portal', 'account total', 'acor act', 'acronym amazon', 'acronym popular', 'acronym quintet', 'acronym refer', 'across retail', 'act ad', 'action alert', 'action might', 'action plan', 'actual previous', 'ad ak', 'ad amazon']
Amzn two-gram feature vector size: 19916 X 2685

In [18]:
# Save two-gram features labelled data for Amazon

with open('amzn_two_gram_features_labelled_df.pkl', 'wb') as f:
    pickle.dump(labelled_amzn_news_df, f)